<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @purchase.vendor %>
</p>

<p>
  <strong>Item:</strong>
  <%= @purchase.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>
</p>

<p>
  <strong>Value:</strong>
  <%= @purchase.value %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
