<%= form_for(@production) do |f| %>
  <% if @production.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production.errors.count, "error") %> prohibited this production from being saved:</h2>

      <ul>
      <% @production.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
